body{background-color:black;
color:#FFB81C;
}

h1{color:#FFB81C;
font-family:serif;
text-shadow:
 -1px -1px 0 white,
  1px -1px 0 white,
 -1px 1px 0 white,
  1px 1px 0 white;
text-align:center;
}

nav{background-color:#FFB81C;
text-align:center;
word-spacing:3em;
height:35px;
}

a{color: white;
text-shadow:
 -0.5px -0.5px 0 #FFB81C,
  0.5px -0.5px 0 #FFB81C,
 -0.5px 0.5px 0 #FFB81C,
  0.5px 0.5px 0 #FFB81C;
text-decoration:none;
}

a:hover{color: #FFB81C;
text-shadow:
 -1px -1px 0 black,
  1px -1px 0 black,
 -1px 1px 0 black,
  1px 1px 0 black;
}

.speciallink{color:#FFB81C;
font-family:serif;
text-shadow:
 -1px -1px 0 white,
  1px -1px 0 white,
 -1px 1px 0 white,
  1px 1px 0 white;
text-align:center;
}

.speciallink:hover{color:white;
font-family:serif;
text-shadow:
 -1px -1px 0 #FFB81C,
  1px -1px 0 #FFB81C,
 -1px 1px 0 #FFB81C,
  1px 1px 0 #FFB81C;
text-align:center;
}

footer{background-color:#FFB81C;
color:black;
font-size:0.9em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a{text-decoration:none;
padding:20px;
border-left:1px solid black;
border-right:1px solid black;
color:black;
text-shadow:
 -1px -1px 0 white,
  1px -1px 0 white,
 -1px 1px 0 white,
  1px 1px 0 white;
}

nav a:hover{background-color:white;
}

#videos{float:right;
width:540px;
}

.column{float:left;
width:50%;
margin-top:10px;
margin-bottom:10px;
background-color:white;
color:black;
font-family:Arial, Verdana, sans-serif;
}

.row:after{content: "";
display:table;
clear:both;
}

.smalllogo{width:3%;
height:3%;
}